# Ignore all files by default
*

# White list only the required files
!_includes
!_layouts
!_posts
!assets
!past-meetups
!resources
!spec
!.rspec
!_config.yml
!config.rb
!favicon.ico
!Gemfile
!Gemfile.lock
!index.html
