---
layout: default
---
<article class="meetup">
  <section class="top-details">
    <h1>{{page.title}}</h1>
    <div class="small-info">
      <ul class="when-where">
        <li>{{page.when}}</li>
        <li>{{page.location}} - <a href="{{page.directions}}">Get&nbsp;Directions</a></li>
      </ul>
      <a href="{{page.register_link}}" class="red-btn">Register for Event</a>
    </div>
  </section>
  <section class="main-event-details clearfix">
    <div class="intro">
      <h3>{{page.intro}}</h3>
    </div>
    <div class="content-bulk">
      {{content}}
    </div>
  </section>
  {% include sponsors.html sponsors=page.sponsors %}
</article>
